
# following environment variables are only be used for development environment
# for production environment, you should set these environment variables in docker compose file

NODECUBE_API_VERSION=1.0
NODECUBE_DISABLE_COMPRESS=
NODECUBE_DISABLE_BODY_PARSER=
NODECUBE_ENABLE_HEADERS_LOG=
NODECUBE_ENABLE_RAW_BODY_LOG=
NODECUBE_LOG_LEVEL=info
NODECUBE_ENABLE_JSON_LOG=
NODECUBE_ENABLE_COLOR_LOG=
NODECUBE_ENABLE_READABLE_EXCEPTION_LOG=
NODECUBE_DISABLE_EXCEPTION_LOG=
NODECUBE_DISABLE_STAT_API=
NODECUBE_ENABLE_INSPECT_API=

NE_REDIS_HOST=
NE_REDIS_PORT=
NE_REDIS_PASSWORD=

NE_MONGO_USERNAME=
NE_MONGO_PASSWORD=
NE_MONGO_REPLSET=
NE_MONGO_NODE1_HOST=
NE_MONGO_NODE1_PORT=
NE_MONGO_NODE2_HOST=
NE_MONGO_NODE2_PORT=
NE_MONGO_DB=

NE_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
NE_OSS_ID=
NE_OSS_SECRET=
NE_OSS_CDN_ROOT=
NE_OSS_UPLOAD_IMAGES_ROOT=

NE_ONEAPM_KEY=

NE_JWT_SECRET=qwert
